<nav class="p-3 bg-secondary text-white mb-4">AdviceSlip</nav>

<div class="container">
  <div class="row">
    <div class="col-9 mx-auto">
      <div class="row">
        <div class="col-7">
          <div class="input-group mb-3">
            <input
              #searchField
              type="text"
              class="form-control"
              placeholder="Search terms like cars, money, spiders etc..."
            />
            <span
              (click)="onSearch()"
              [ngStyle]="{ cursor: 'pointer' }"
              class="input-group-text"
              >Go</span
            >
          </div>
        </div>
        <div class="col-5">
          <button
            (click)="onFeelingLuckyClick()"
            class="btn btn-primary btn-block"
          >
            I’m feeling lucky
          </button>
          <button
            *ngIf="suggestionDone"
            (click)="onResetClick()"
            class="btn btn-outline-secondary m-left-x"
          >
            Reset Suggestions
          </button>
        </div>
      </div>

      <p *ngIf="suggestionDone">Suggestion completed, please click reset</p>
      <p *ngIf="isError">Something went wrong!!!</p>

      <ng-container *ngIf="isDataAvailable">
        <ng-container *ngIf="advice !== null; else noData">
          <div [@fade] class="slip-item" *ngFor="let slip of advice.slips">
            {{ slip.advice }}
          </div>
        </ng-container>
        <ng-template #noData>
          <p>No advice slips found matching that search term.</p>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
